@using IManager.Web.Shared.Helpers
@model IEnumerable<IManager.Web.Presentation.ViewModels.Account.AccountViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

<form method="get" class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a class="btn btn-sm btn-table" href="/Account/Register">
            Registrar Usuário
        </a>
    </div>

    <div class="input-group w-25">
        <input type="text"
               name="search"
               value="@Context.Request.Query["search"]"
               class="form-control"
               placeholder="Pesquisar" />

        <button class="btn btn-sm btn-outline-secondary" type="submit">
            🔍
        </button>
    </div>
</form>

<table id="table" class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>Nome Completo</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>

            @if (User.IsInRole(Role.Staff))
            {
                <th>Empresa</th>
                <th>CNPJ</th>
            }
            else
            {
                <th>Salario Base</th>
            }

            <th>Setor</th>
            <th>Cargo</th>
            <th>Perfil de Acesso</th>
            <th>Ativo</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>@item.FullName</td>
                <td>@(MaskHelper.MaskCpf(item.DocumentNumber))</td>
                <td>@item.BirthDate.ToString("dd/MM/yyyy")</td>

                @if (User.IsInRole(Role.Staff))
                {
                    <td>@item.JobTitle.Department.Company.TradeName</td>
                    <td>@(MaskHelper.MaskCnpj(item.JobTitle.Department.Company.DocumentNumber))</td>
                }
                else
                {
                    <td>@(MaskHelper.MaskCurrency(item.BaseSalary))</td>
                }

                <td>@item.JobTitle.Department.Name</td>
                <td>@item.JobTitle.Name</td>
                <td>@item.Role</td>

                <td class="text-center">@(item.IsActive ? "✅" : "❌")</td>
            </tr>
        }
    </tbody>
</table>

<div class="btn-group mt-3 gap-1" role="group">
    <button id="btn-edit" class="btn btn-sm btn-primary" disabled>
        Editar
    </button>
    <button id="btn-details" class="btn btn-sm btn-primary" disabled>
        Detalhes
    </button>
    <button id="btn-delete" class="btn btn-sm btn-danger" disabled>
        Desativar
    </button>
</div>

<script>
    let selectedId = null;

    document.addEventListener("DOMContentLoaded", function() {
        const table = document.getElementById("table");
        const rows = document.querySelectorAll("#table tbody tr");

        const btnEdit = document.getElementById("btn-edit");
        const btnDetails = document.getElementById("btn-details");
        const btnDelete = document.getElementById("btn-delete");

        function clearSelection() {
            rows.forEach(r => r.classList.remove("selected"));
            selectedId = null;

            btnEdit.disabled = true;
            btnDetails.disabled = true;
            btnDelete.disabled = true;
        }

        rows.forEach(function(row) {
            row.addEventListener("click", function(event) {
                event.stopPropagation();

                if (this.classList.contains("selected")) {
                    clearSelection();
                    return;
                }

                clearSelection();

                this.classList.add("selected");
                selectedId = this.dataset.id;

                btnEdit.disabled = false;
                btnDetails.disabled = false;
                btnDelete.disabled = false;
            });
        });

        document.addEventListener("click", function(event) {
            if (!table.contains(event.target)) {
                clearSelection();
            }
        });

        btnEdit.addEventListener("click", function() {
            if (selectedId) {
                window.location.href = `/Users/Edit/${selectedId}`;
            }
        });

        btnDetails.addEventListener("click", function() {
            if (selectedId) {
                window.location.href = `/Users/Details/${selectedId}`;
            }
        });

        btnDelete.addEventListener("click", function() {
            if (selectedId) {
                window.location.href = `/Users/Delete/${selectedId}`;
            }
        });
    });
</script>