@model DetailsJobTitleModelView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobTitle</h4>
    <hr />
    <dl class="row">
        @if (User.IsInRole(Role.Staff))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompanyTradeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompanyTradeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompanyDocumentNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompanyDocumentNumber)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHazard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHazard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUnhealthy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUnhealthy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCommissioned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCommissioned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyHours)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
